.align-right{
    justify-content: end;
}

.navbar-nav .nav-link.active {
    color: white;
}

.navbar {
    transition: 1s;
}

.bg-dark {
    background-color: #401414 !important;
}

.margin-left-icons{
    margin-left: 2vw;
}

.bg-red{
    background-color: #401414 !important;
    opacity: 0.9;
}

#logo-menu-dr{
    width: 50%;
}

.yellow-color {
    color: yellow !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler {
    background-color: rgb(255,255,255, 0.1);
}

.navbar-toggler.collapsed {
    background-color: rgb(96,16,16, 0.2);
}

.navbar-icon {
    width: 6%;
}

.navbar-nav {
    justify-content: end;
}

.mail-icon{
    margin-top: -0.5%;
    width: 7% !important;
}

@media (max-width: 1000px) {
    .navbar-brand{
        display: none;
    }

    .mail-icon{
        margin-top: -2%;
        width: 20% !important;
    }

    .navbar-icon {
        width: 16%;
    }

    .bg-red{
        min-height: 100vh;
    }

    .navbar {
        display: block;
        align-items: flex-start;
        z-index: 1000;
    }

    .navbar > .container {
        max-width: 95%;
        justify-content: end;
        margin-top: 2%;
    }

    .navbar-collapse {
        margin-top: 35%;
        right: 0;
    }

    .nav-item > a {
        font-size: 200%;
        color: white;
    }

    #icon-link-container{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-around;
    }

    .navbar-nav{
        align-items: center;
    }

    .navbar-toggler-icon {
        width: 2.9em;
        height: 2.9em;
    }
}

@media (max-width: 700px) {
    .navbar-toggler-icon {
        width: 1.9em;
        height: 1.9em;
    }

    .navbar > .container {
        max-width: 100%;
        margin-top: 0;
    }

    .mail-icon{
        margin-top: -0.5%;
        width: 20% !important;
    }
}
