.licences-container{
    text-align: -webkit-center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 105vh;
    /*height: 105vh;*/

    /*background-size: auto 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/

    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

    /*background-size: contain;*/

    /*height: 100vh;*/
    /*padding-top: 32.64%; !* (img-height / img-width * container-width) *!*/
}

#demiroch-logo{
    margin-top: 2vh;
    width: 60%;
}

#logo-description{
    font-family: "Times New Roman", serif;
    color: #601010;
    font-size: 2em;
    font-weight: bold;
}

