.licences-container{
    text-align: -webkit-center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 85vh;
}

#demiroch-logo{
    margin-top: 3vh;
    width: 50%;
}

.slider-andy{
    max-height: 50vh;
}

@font-face {
  font-family: mmsarica_csi;
  src: url("../../../resources/Tipografias/mmsarica_csi.ttf");
}

#logo-description{
    font-family: mmsarica_csi, serif;
    /*font-family: "Times New Roman", serif;*/
    color: #601010;
    font-size: 2.5vw;
    font-weight: 500;
}

#fingerprint-damian-container{
    width: 20%;
    margin-top: -21%;
}

#where-has-been-container{
    width: 13%;
    margin-top: -13%;
    margin-left: 71%;
}

#fingerprint-damian{
    width: 100%;
    margin-left: -10%;
}

#home-anchor{
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}

@media (max-width: 1400px) {
    .licences-container{
        min-height: 90vh;
    }

    #demiroch-logo{
        /*margin-top: 10vh;*/
    }
}

@media (max-width: 1000px) {
    .licences-container{
        min-height: 50vh;
        padding-bottom: 10%;
    }

    #tap-to-play{
        position: absolute;
        width: 40%;
        margin-left: 50%;
        margin-top: -6%;
    }

    #logo-description{
        font-family: mmsarica_csi, serif;
        /*font-family: "Times New Roman", serif;*/
        color: #601010;
        font-size: 4vw;
        font-weight: 500;
        /*margin-bottom: -3%;*/
    }

    #demiroch-logo{
        /*margin-top: 10%;*/
        width: 70%;
        margin-bottom: 1%;
    }
}