
.modal {
    background-color: rgba(0, 0, 0, 0.6);
}
.custom-modal{
    width: 100%;
}

.modal-content {
    height: 70vh;
}

.modal-body {
    padding: unset;
    height: 70vh;
}

.modal-header-custom{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
}

@media (orientation: portrait) {

    .modal-dialog {
        margin: 0;
        max-width: none;
    }
    .modal-content {
        height: auto;
        background-color: transparent;
    }

    .modal-body {
        padding: unset;
        max-height: 75vw !important;
        /*height:  !important;*/
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.prueba{
    position: absolute;
    top: -10%;
    right: -21%;
    cursor: pointer;
}

@media (max-width: 100px) {
    .prueba{
        top: -10%;
        right: -30%;
    }
}

@media (max-width: 700px) {
    .prueba{
        top: -15%;
        right: -60%;
    }
}