.custom-modal{
    width: 100%;
}

.modal-content {
    height: 70vh;
}

.modal-body {
    padding: unset;
    height: 70vh;
}

.modal-header-custom{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
}

@media (orientation: portrait) {

    .modal-dialog {
        margin: 0;
        max-width: none;
    }
    .modal-content {
        height: auto;
        background-color: transparent;
    }

    .modal-body {
        padding: unset;
        max-height: 75vw !important;
        /*height:  !important;*/
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1000px) {
    .prueba{
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
    }
}