.slider-container{
    height: 100%;
    width: 78vh;
}

.carousel-item-custom{
    padding: 5%;
}

.carousel-image{
    transform: rotate(5deg);
    -webkit-filter: drop-shadow(5px 5px 5px #642F00);
    filter: drop-shadow(-3px 5px 6px #642F00);
}

#left-arrow{
    margin-right: 100%;
}

#right-arrow{
    margin-left: 100%;
}

.arrow-carousel{
    width: 60%;
}