.slider-container{
    width: 45%;
}

.carousel-item-custom{
    padding: 5%;
}

.carousel-image{
    transform: rotate(5deg);
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

#left-arrow{
    margin-right: 100%;
}

#right-arrow{
    margin-left: 100%;
}

.arrow-carousel{
    width: 60%;
}