.clickable {
    cursor: pointer;
}

.map-container{
    width: 100%;
}

.black-shadow{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#threads-mapa{
    position: absolute;
    height: 58%;
    width: 80%;
    margin-left: 8%;
    margin-top: 3.5%;
    display: inline;
    z-index: 1;
    transform: rotate(-2deg);

}

/*      PRIMERA COLUMNA       */

#fingerprint-damian-container{
    margin-top: -70%;
    z-index: 1;
    display: inline;
}

#fingerprint-damian{
    width: 100%;
    margin-left: -10%;
}

#mapaBa-misc{
    margin-top: 5%;
    width: 235%;
    margin-left: -4%;
}
.relative-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#map-image-container{
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
}

#latinafy-container{
    position: absolute;
    top: 13%;
    left: -5%;
    width: 75%;
    display: inline;
    z-index: 2;
}

#latinafy-publicidades{
    width: 115%;
}

#animated-series-note-container{
    position: absolute;
    top: 41.5%;
    left: 0%;
    transform: rotate(-4deg);
    z-index: 3 !important;
    display: inline;
}

#animated-series-note{
    width: 140%;
}

#milka-publicidad-container{
    margin-top: 2%;
    margin-left: 2%;
    z-index: 0;
    display: inline;
}

#milka-publicidad{
    width: 100%;
    transform: rotate(2deg);
}

/*      SEGUNDA COLUMNA       */

#cartoon-network-container{
    /*margin-top: 10%;*/
    margin-left: -60%;
    top: 33%;
    position: relative;
    left: -10%;
    z-index: 2;
    display: inline;
}

#cartoon-network-publicidad{
    width: 120%;
    transform: rotate(-2deg);
}

#voice-actor-container{
    position: absolute;
    top: 5%;
    left: 45%;
    width: 75%;
    display: inline;
    z-index: 2;
}

#voice-actor-note{
    width: 70%;
}

#danonino-container{
    margin-top: 30%;
    margin-left: -15%;
    z-index: 1;
    display: inline;
}

#danonino-publicidad{
    width: 130%;
    transform: rotate(3deg);
}

#content-creator-container{
    z-index: 4;
    display: inline;
    margin-top: -23%;
    margin-left: 75%;
}

#content-creator{
    transform: rotate(11deg);
    width: 68%;
}

#actor-container{
    z-index: 3;
    display: inline;
    margin-top: 5%;
    margin-left: 16%;
}

#actor-note{
    transform: rotate(-5deg);
    width: 58%;
}

#sound-container{
    z-index: 3;
    display: inline;
    margin-top: 32%;
    margin-left: 58%;
}

#sound-note{
    transform: rotate(2deg);
    width: 65%;
}

#fernet-container{
    margin-top: -25%;;
    z-index: 1;
    display: inline;
}

#fernet-publicidad{
    width: 99%;
    transform: rotate(-1deg);
}

/*      TERCERA COLUMNA       */

#blueprint-damian-container{
    margin-top: 35%;
}

#blueprint-damian{
    margin-left: -15%;
    width: 120%;

}

/*      CUARTA COLUMNA       */
.fotos-publicidades-mapa-container {
    margin-top: 5%;
    margin-left: -20%;
    -webkit-filter: drop-shadow(3px 3px 5px #000);
    filter: drop-shadow(3px 3px 5px #000);
}

#uala-publicidad{
    transform: rotate(4deg);
    display: inline;
    z-index: 2;
}

#menudeldia-publicidad{
    margin-left: -35%;
    display: inline;
    z-index: 2;
}

#sprite-publicidad{
    transform: rotate(-4deg);
    display: inline;
    z-index: 2;
}

#mccain-publicidad{
    transform: rotate(1deg);
    margin-top: 5%;
    width: 90%;
    display: inline;
    z-index: 3;
}

#tvSeries-notas{
    transform: rotate(4deg);
    margin-left: -33%;
    display: inline;
    z-index: 2;
}

#tvSeries-notas-img{
    width: 130%;
}

.fotos-publicidades-mapa {
    width: 120%;
}

@media only screen and (max-width: 1400px) {
    #fingerprint-damian{
        /*width: 120%;*/
        /*margin-left: -25%;*/
    }
}
