.clickable {
    cursor: pointer;
}

.map-container{
    width: 100%;
    position: relative;
}

.black-shadow{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#threads-mapa{
    position: absolute;
    height: 83.4%;
    width: 78%;
    margin-left: 9.9%;
    margin-top: 2.2%;
    display: inline;
    z-index: 1;
    transform: rotate(-0.5deg);
}
.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom-mini {
    transition: transform .2s; /* Animation */
}

.zoom-mini:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*      PRIMERA COLUMNA       */

#fingerprint-damian-container{
    margin-top: -70%;
    z-index: 3;
    display: inline;
}

#fingerprint-damian{
    width: 100%;
    margin-left: -10%;
}

#mapaBa-misc{
    margin-top: 25%;
    width: 235%;
    margin-left: -4%;
}
.relative-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#latinafy-container{
    position: absolute;
    top: 18.7%;
    left: 0%;
    width: 75%;
    display: inline;
    z-index: 2;
}

#latinafy-publicidades{
    width: 105%;
}

#animated-series-note-container{
    position: absolute;
    top: 44.8%;
    left: 6.5%;
    transform: rotate(-4deg);
    z-index: 3 !important;
    display: inline;
}

#animated-series-note{
    width: 140%;
    transform: rotate(-2deg);
}

#milka-publicidad-container{
    margin-top: -5%;
    margin-left: 6%;
    z-index: 0;
    display: inline;
}

#milka-publicidad{
    width: 100%;
    transform: rotate(3deg);
}
.publi-note-container{
    margin-top: 5%;
    margin-left: 27%;
    width: 48%;
}

.publi-note{
    width: 100%;
}

/*      SEGUNDA COLUMNA       */

#cartoon-network-container{
    margin-left: -61%;
    margin-top: 19.5%;
    /*position: relative;*/
    display: inline;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#cartoon-network-publicidad{
    width: 115%;
    transform: rotate(-4deg);

}

#voice-actor-container{
    position: absolute;
    top: 2.8%;
    left: -65%;
    /*width: 75%;*/
    display: inline;
    z-index: 2;
    transform: rotate(2deg);
}

#voice-actor-note{
    width: 55%;
}

#danonino-container{
    margin-top: 13%;
    margin-left: -4%;
    z-index: 1;
    display: inline;
}

#danonino-publicidad{
    width: 105%;
    transform: rotate(3deg);
}

#content-creator-container{
    z-index: 4;
    display: inline;
    margin-top: -16%;
    margin-left: 90%;
}

#content-creator{
    transform: rotate(11deg);
    width: 50%;
}

#actor-container{
    z-index: 3;
    display: inline;
    margin-top: 31%;
    margin-left: 29%;
}

#actor-note{
    transform: rotate(5deg);
    width: 50%;
}

#sound-container{
    z-index: 3;
    display: inline;
    margin-top: 42%;
    margin-left: 58%;
}

#sound-note{
    transform: rotate(2deg);
    width: 50%;
}

#fernet-container{
    margin-top: -18%;;
    z-index: 1;
    display: inline;
}

#fernet-publicidad{
    width: 99%;
    transform: rotate(-1deg);
}

#fernet-ntoe{
    margin-top: -3%;
    margin-left: 26%;
}

/*      TERCERA COLUMNA       */

#blueprint-damian-container{
    margin-top: 20%;
}

#blueprint-damian{
    margin-left: -25%;
    width: 130%;
}
#blueprint-note-container {
    position: relative;
    left: 0;
    top: 0;
}

#featured-commercial-note-container {
    position: absolute;
    display: inline;
    z-index: 4;
    top: 19%;
    margin-left: 55%;
    width: 45%;
}

#featured-commercial-note {
    width: 100%;
    transform: rotate(3deg);
}

.personajes-img {
    width: 100%;
}

#kiko-container{
    margin-top: 10%;
    margin-left: 15%;
    width: 65%;
    display: inline;
    z-index: 4;
}

#kiko-note-container{
    width: 40%;
    margin-top: -2%;
    margin-left: 27%;
    display: inline;
    z-index: 3;
}

#theo-container{
    margin-top: 7%;
    margin-left: 12%;
    width: 64%;
    display: inline;
    z-index: 4;
    transform: rotate(-2deg);
}

#theo-note-container{
    width: 47%;
    margin-top: 2%;
    margin-left: 26%;
    display: inline;
    z-index: 3;
}

#evan-container{
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
    display: inline;
    z-index: 4;
    transform: rotate(3deg);
}

#evan-note-container{
    width: 48%;
    margin-top: -4%;
    margin-left: 10%;
    display: inline;
    z-index: 3;
}

#zamba-container{
    margin-top: 10%;
    margin-left: -6%;
    width: 65%;
    display: inline;
    z-index: 4;
}

#zamba-note-container{
    width: 45%;
    margin-top: 2%;
    margin-left: 10%;
    display: inline;
    z-index: 3;
}

/*      CUARTA COLUMNA       */
.fotos-publicidades-mapa-container {
    margin-top: 4%;
    margin-left: -20%;
    -webkit-filter: drop-shadow(3px 3px 5px #000);
    filter: drop-shadow(3px 3px 5px #000);
}

#uala-publicidad{
    transform: rotate(4deg);
    display: inline;
    z-index: 2;
}

#mccain-publicidad{
    margin-left: -20%;
    margin-top: 6%;
    display: inline;
    z-index: 2;
    width: 90%;
}

#sprite-publicidad{
    transform: rotate(-4deg);
    margin-top: 4%;
    margin-left: -11%;
    width: 93%;
    display: inline;
    z-index: 2;
}

#menudeldia-publicidad{
    transform: rotate(1deg);
    margin-top: 2%;
    width: 90%;
    display: inline;
    z-index: 3;
}

#tvSeries-notas{
    position: relative;
    margin-left: -33%;
    top: 10%;
    display: inline;
    z-index: 1;
}

#tvSeries-notas-img{
    width: 132%;
    transform: rotate(2deg);
}

#artistic-note-continer{
    position: absolute;
    top: 2%;
    left: 50%;
    z-index: 2;
    width: 40%;
}

#artistic-note{
    width: 100%;
    transform: rotate(13deg);
}

.fotos-publicidades-mapa {
    width: 120%;
}

@media only screen and (max-width: 1400px) {
    #fingerprint-damian{
        /*width: 120%;*/
        /*margin-left: -25%;*/
    }
}
